[*.cs]

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = warning

# CS3021: Type or member does not need a CLSCompliant attribute because the assembly does not have a CLSCompliant attribute
dotnet_diagnostic.CS3021.severity = silent
